* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  min-height: 30vh;
}

.root-container {
  max-width: 1000px;
  padding: 0 1rem;
}

.hor-center {
  margin: 0 auto;
}

.faic {
  align-items: center;
}

nav {
  padding: 1rem 0;
}

.d-flex {
  display: flex;
  display: -ms-flexbox;
}

.nav-list {
  list-style: none;
  align-items: center;
}

.nav-list > .nav-right {
  margin-left: auto;
}

.nav-link-icon {
  height: 20px;
  cursor: pointer;
}

.nav-list > li + li {
  margin-left: 1.5rem;
}

.sample {
  min-height: 20vh;
  background: salmon;
}

.tac {
  text-align: center;
}

.heading {
  font-size: 2.85rem;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.header-detail {
  padding: 2rem 0;
}

.header-detail > * + * {
  margin-top: 1rem;
}

.sub-heading {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.search-container {
  justify-content: center;
}

.search-container > * + * {
  margin-left: 1rem;
}

.search-input-container {
  flex: 1 1 45%;
  background: white;
  display: inline-flex;
  position: relative;
  align-items: center;
  border-radius: 5px;
}

.search-input-label {
  position: absolute;
  font-size: 14px;
  left: 0;
  letter-spacing: 2px;
  color: #726f6f;
  transform: translate(14px, 0px) scale(1);
  transition: all 0.3s ease;
}

.search-input-label.focus {
  transform: translate(4px, -16px) scale(0.6);
}

.search-input-label.focus.error-label {
  transform: translate(-42px, -16px) scale(0.6);
}
.error-label {
  color: red;
}
input:focus {
  outline: orange;
}

.search-button-container {
  flex: 0 1 20%;
  background: rgb(247, 192, 47);
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  font-weight: bold;
}
.btn-grad {
  background-image: linear-gradient(
    to right,
    #ffb347 0%,
    #ffcc33 51%,
    #ffb347 100%
  );
}
.btn-grad:hover {
  background-position: right center;
}

.search-input-container,
.search-button-container {
  border-radius: 5px;
}

.input-root {
  border: 0;
  border-radius: 5px;
  padding: 18.5px 14px;
  box-sizing: content-box;
  width: 100%;
  font-size: 1.2rem;
  height: 1.1876em;
}

.decleration {
  font-weight: bold;
}

.decleration > * + * {
  margin-left: 0.5rem;
}

.justify {
  text-align: justify;
  text-justify: inter-word;
}

.w {
  color: white;
}

.y {
  color: rgb(247, 192, 47);
}

.bg-b {
  background: rgb(1, 74, 128);
}

.b {
  color: rgb(1, 74, 128);
}

.gr {
  color: #535353;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #535353;
  letter-spacing: 2px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #535353;
  letter-spacing: 2px;
}

::-moz-placeholder {
  color: #535353;
  letter-spacing: 2px;
}

::-ms-input-placeholder {
  color: #535353;
  letter-spacing: 2px;
}

::placeholder {
  color: #535353;
  letter-spacing: 2px;
}
